<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="icon" href="icon.jpg" type="icon">
  <title>Hair Salon</title>

  <link href="fonts/font-awesome.min.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,300&family=Outfit&family=Playfair+Display:ital,wght@1,600&display=swap');
    </style>


  <style>
    .navlink{
        color: rgb(139, 139, 139);
        text-decoration: none;
        margin-right: 65px;
        font-size: 20px;
      }
      .navlinkactive{
        color: black;
        text-decoration: none;
        margin-right: 65px;
        font-size: 20px;
      }
      .navlink:hover{
        color: rgb(185, 162, 162);
      }
      .navlinkactive:hover{
        color: rgb(185, 162, 162);;
      }

    .twitter {
      margin-left: 15px;
      margin-right: 15px;

    }

    footer {
      background-color: rgb(223, 217, 217);
      width: 100%;
      margin-top: 0px;
      
    }

    footer div a,
    footer p {
      color: gray;
      text-decoration: none;
    }
    .about{
      width: 100%;
    }

    h1{
      color: orange;
    }

    .appointment {

      color: brown;
      border: 3px solid brown;
      width: 200px;
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-light bg  " style="background-color: rgb(218, 214, 214);">
    <div class="container-fluid">
      <div class="img" style="margin-left: 2%;"><img src="/static/servicemain.jpg" alt="icon" style="width: 40px ;" height="40px">
      </div>



      <a class="navbar-brand" style="margin-left: 3%; width:30%; font-size: 30px; color: brown;" href="#"><b>Hair salon</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" style="margin-left: 20%; " id="navbarNav">
        <center>
          <ul class="navbar-nav ">
            <li class="navitem">
              <a class="navlink" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="navlinkactive" href="/about">About</a>
            </li>
            <li class="navitem" >
              <a class="navlink" href="/gallery">Gallery</a>
            </li>
            <li class="navitem">
              <a class="navlink" href="/contact">Contact</a>
            </li>
            <li class="navitem">
              <a class="navlink" href="/service">Service</a>
            </li> 
          </ul>
        </center>
      </div>
    </div>
  </nav>
</head>

<body style="background-image: url('https://uploads-ssl.webflow.com/5eea6ac9dbde352915ab09d0/5efb574f7c2bea45be4fff6c_Vayn%20Hero%20Image.jpg'); color: antiquewhite;  ">
 


 
  
 

 <div class="site-main">
 <div >
  <section class="ttm-row about-weare-section clearfix">
    <div class="container">
        <div class="row">
        <div class="col-12 text-center" style="font-family: 'Outfit', sans-serif;" >
         <header class="secHeader">

          <h1 class="golden-color">Hair Salon <br></h1>
         
         </header>
          <p class="color-red">Hair Salon  gives men the opportunity to look and feel their very best we deliver one stop solution for men's personal care like a <!--Stylish Haircut, Beard Care,--> Full body wax, Pubic Hair shave, Body Scrub, Ear &amp; Nose Hair Clean, body Polishing etc.</p>
          <p>We offers world class Men's grooming service in a luxurious settings Our services is a mixture of everything – having good hygiene, being true to yourself. Grooming your body Hair is personal, to a point. Whether you want to completely get rid of Hair or just keep it trimmed depends on your preference, But for some area you may not able to shave and trim like like your back, under arms and below the belt But Now, this is not a challenge we make it easy we come at your place to design, shave or trim your body Hairs.</p>
       </div><!-- row -->
       <div class="container" style="font-family: 'Outfit', sans-serif; text-align: center;">
        <p>Our Men's grooming experts are qualified and trained. We are taking care of Men's day to day care at home and also ensuring their corporate needs, Party and wedding makeup services. We are also giving our services to fashion and photographic industry with high profile Hair styling and makeup services. In our industry, we are known for our focus on training, customer focus, service consistency and quality standards.</p>
        </div>
        
        <div class="container" style="font-family: 'Outfit', sans-serif;">
          <div class="row">
          <div class="col-12 text-center">
          <header class="secHeader">
        
              <h1 class="golden-color">PURPOSE<br></h1>
             
          </header>
           <p class="color-red">We exist to empower gentleman to look and feel fantastic in order to take on the challenge of life and achieve their aspirations. Our dedicated team of male grooming professionals have a combined experience of over 10 yrs and we are passionate about developing partnerships with our clientele through a deep understanding of what they are aiming to achieve. Every one of our clients receives a grooming experience that is bespoke to their individual needs.</p>
        </div>
              
              
          </div>
        </div>
        
        </div>
        
         </div>
           
            
        </div>
    </div>




</div>
<div ><div class="container pb-800 res-1199-pb-0" >
  <div class="row1" >
      <div class="col-lg-12 col-md-12 col-sm-12 m-auto">
          
          <div class="section-title with-desc text-center clearfix">
          <header class="secHeader">

                                  <h1 class="golden-color"> Our Beliefs</h1>
                                
                              </header>
              <div class="title-header">
                 
              </div>
              <br>
              <div class="title-desc ttm-textcolor-white">"Gentlemen is A man who smells good, Who looks good, Who keeps their body parts good" and Hair Salon  is in process to designs a normal Men to a Gentlemen </div>
          </div>
      </div>                        
  </div>
  <div class="row pt-30 res-767-pt-20">
      <div class="col-md-4">
          <div class="featured-icon-box icon-align-before-content">
              <div class="featured-icon">
                  <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                      <i class="ti-world"></i>
                  </div>
              </div>
              <div class="featured-content">
                  <div class="featured-title">
                      <h5 class="ttm-textcolor-white">Our Mission</h5>
                  </div>                                        
              </div>
          </div>
      </div>
      <div class="col-md-8 border-left">
          <p class="pl-25 m-0 res-767-pl-0 res-767-pt-15">We aim to create an brand where gentlemen of all ages can receive the highest level of grooming and personal care service.</p>
      </div>
  </div>
  <div class="sep_holder">
      <div class="sep_line mt-35 mb-35 res-991-mtb-30"></div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="featured-icon-box icon-align-before-content">
              <div class="featured-icon">
                  <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                      <i class="ti-bar-chart"></i>
                  </div>
              </div>
              <div class="featured-content">
                  <div class="featured-title">
                      <h5 class="ttm-textcolor-white">Our Vision</h5>
                  </div>                                        
              </div>
          </div>
      </div>
      <div class="col-md-8 border-left">
          <p class="pl-25 m-0 res-767-pl-0 res-767-pt-15">To design a male-oriented highend brand for men's who demanded more than the corner barbershop or quick grooming service.</p>
      </div>
    
    
    </div>

<div class="container" style="font-family: 'Outfit', sans-serif;">
  <div class="row">
  <div class="col-12 text-center">
  <header class="secHeader">

      <h1 class="golden-color">COMMITMENT TO EXCELLENCE<br></h1>
     
  </header>
   <p class="color-red">The highly trained & experienced makeup artist at The Hair Salon are experts in men’s body wax, body scrub, body polishing, manicure, pedicure, facial, pubic Hair shave your body Hair from your Full Arm & Under Arms wax, Below the belt shave, Nail cutting Ear & Nose Hair clean, Oil Massage Head etc. and grooming services. Hair maintain the quality standards and has a robust and comprehensive approach to delivering services and staff to ensure that every grooming experience and services that we develop is of the highest quality</p>
</div>
</div>
</div>

    
    

</div>
</body>
<footer>
  <div id="footer">
    <center>

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="social">
              <a href="https://www.facebook.com/" targe="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="twitter" href="https://twitter.com/i/flow/login" targe="_blank"><i class="fa fa-twitter"
                  aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/accounts/login/" targe="_blank"><i class="fa fa-instagram"
                  aria-hidden="true"></i></a>

            </div>
            <div class="para">
              <p class="quicklinks"><a href="/">Home&nbsp;|&nbsp; </a>

                <a href="/about"> About </a>
                <a href="/gallery">&nbsp;|&nbsp;Gallery &nbsp;|&nbsp;</a>
                <a href="/contact">Contact &nbsp;|&nbsp; </a>
                <a href="/service">Service</a>
            </div>
            </p>
            <p>Copyright © 2022 Life, All Rights Reserved.</p>

          </div>
        </div>
      </div>
  </div>


  </center>

  </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



</html>