{% load static %}
<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="icon" href="icon.jpg" type="icon">
  <title>Hair Salon</title>

  <link href="fonts/font-awesome.min.css" rel="stylesheet">
  <link href="jquery.fancybox.min.css" rel="stylesheet" >
  <link href="gallery.css" rel="stylesheet">
  <style>
    .hovereffect {
  position: relative;

}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6))
}

.hovereffect:hover .overlay {
  opacity: 1;
}
 .navlink{
        color: rgb(139, 139, 139);
        text-decoration: none;
        margin-right: 65px;
        font-size: 20px;
      }
      .navlinkactive{
        color: black;
        text-decoration: none;
        margin-right: 65px;
        font-size: 20px;
      }
      .navlink:hover{
        color: rgb(185, 162, 162);
      }
      .navlinkactive:hover{
        color: rgb(185, 162, 162);;
      }

  .twitter {
    margin-left: 15px;
    margin-right: 15px;

  }
  
  footer {
    background-color: rgb(223, 217, 217);
    width: 100%;
    margin-top: 50px;
    
  }

  footer div a,
  footer p {
    color: gray;
    text-decoration: none;
  }


  .appointment {

    color: brown;
    border: 3px solid brown;
    width: 200px;
  }

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  </style>

  <nav class="navbar navbar-expand-lg navbar-light bg  " style="background-color: rgb(218, 214, 214);">
    <div class="container-fluid">
      <div class="img" style="margin-left: 2%;"><img src="/static/servicemain.jpg" alt="icon" style="width: 40px ;" height="40px">
      </div>



      <a class="navbar-brand" style="margin-left: 3%; width:30%; font-size: 30px; color: brown;" href="#"><b>Hair salon</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" style="margin-left: 20%; " id="navbarNav">
        <center>
          <ul class="navbar-nav ">
            <li class="navitem">
              <a class="navlink" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="navlink" href="/about">About</a>
            </li>
            <li class="navitem" >
              <a class="navlinkactive" href="/gallery">Gallery</a>
            </li>
            <li class="navitem">
              <a class="navlink" href="/contact">Contact</a>
            </li>
            <li class="navitem">
              <a class="navlink" href="/service">Service</a>
            </li> 
          </ul>
        </center>
      </div>
    </div>
  </nav>
</head>

<body style=" background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('https://uploads-ssl.webflow.com/5eea6ac9dbde352915ab09d0/5efb574f7c2bea45be4fff6c_Vayn%20Hero%20Image.jpg')">
 


  <div class="container">

    <center><h2 style="color: orange;">Photos of Work</h2>
    </center>
    <div class="row">
      <div class="col-sm-6" >
        <a class="fancybox" rel="group" href="https://thumbs.dreamstime.com/b/beauty-man-hair-style-beard-portrait-handsome-male-model-fashion-haircut-beautiful-face-high-resolution-125031822.jpg">
          <div class="hovereffect">
              <picture>
                  <source srcset="https://thumbs.dreamstime.com/b/beauty-man-hair-style-beard-portrait-handsome-male-model-fashion-haircut-beautiful-face-high-resolution-125031822.jpg" type="image/webp">
                  <source srcset="https://thumbs.dreamstime.com/b/beauty-man-hair-style-beard-portrait-handsome-male-model-fashion-haircut-beautiful-face-high-resolution-125031822.jpg" type="image/jpg">
                  <div class="gallery"> <img src="https://thumbs.dreamstime.com/b/beauty-man-hair-style-beard-portrait-handsome-male-model-fashion-haircut-beautiful-face-high-resolution-125031822.jpg" class="img-responsive center-block" alt="image" style="width: 100%;  height: 345px; margin-top: 23px;"></div>
                  <div class="overlay">
                    <div class="text">Work</div>
                  </div>
              </picture>
             
          </div>
      </a>
    </div>
      <div class="col-sm-6" >
        <a class="fancybox" rel="group" href="https://media.istockphoto.com/photos/barber-using-scissors-and-comb-picture-id640274128?k=20&m=640274128&s=612x612&w=0&h=XuetWJSNoLnN7f1t0CjGqLVi_P7uxdvuLG5iOvs7yjc=">
          <div class="hovereffect">
              <picture>
                  <source srcset="https://media.istockphoto.com/photos/barber-using-scissors-and-comb-picture-id640274128?k=20&m=640274128&s=612x612&w=0&h=XuetWJSNoLnN7f1t0CjGqLVi_P7uxdvuLG5iOvs7yjc=" type="image/webp" >
                  <source srcset="https://media.istockphoto.com/photos/barber-using-scissors-and-comb-picture-id640274128?k=20&m=640274128&s=612x612&w=0&h=XuetWJSNoLnN7f1t0CjGqLVi_P7uxdvuLG5iOvs7yjc=" type="image/jpg" >
                  <div class="gallery"><img src="https://media.istockphoto.com/photos/barber-using-scissors-and-comb-picture-id640274128?k=20&m=640274128&s=612x612&w=0&h=XuetWJSNoLnN7f1t0CjGqLVi_P7uxdvuLG5iOvs7yjc=" alt="image" style="width: 100%;  height: 345px; margin-top: 3%; "></div>
                  <div class="overlay">
                    <div class="text">Work</div>
                  </div>
              </picture>
              
          </div>
        </a>
      </div>
  </div>
  <div class="row">

    <div class="col-sm-7">
      <a class="fancybox"  rel="group" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-DqrpUn0iR3reShT3aOAX3onHo2LVKMJV_Y6T4rqCSmjYoW_6xNH3CwMvgFlVA2aM4ww&usqp=CAU">
        <div class="hovereffect">
            <picture>
                <source srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-DqrpUn0iR3reShT3aOAX3onHo2LVKMJV_Y6T4rqCSmjYoW_6xNH3CwMvgFlVA2aM4ww&usqp=CAU" type="image/webp" >
                <source srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-DqrpUn0iR3reShT3aOAX3onHo2LVKMJV_Y6T4rqCSmjYoW_6xNH3CwMvgFlVA2aM4ww&usqp=CAU" type="image/jpg" >
                <div class="gallery"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-DqrpUn0iR3reShT3aOAX3onHo2LVKMJV_Y6T4rqCSmjYoW_6xNH3CwMvgFlVA2aM4ww&usqp=CAU" class="img-responsive center-block" alt="image" style="width: 100%; height: 345px; margin-top: 3%;"></div>
                <div class="overlay">
                  <div class="text">Work</div>
                </div>
            </picture>
            
        </div>
        
      </a>
    </div>
    <div class="col-sm-5">
      <a class="fancybox" rel="group" href="https://i.pinimg.com/736x/ae/67/7a/ae677a18891ad058e1526f2b087028b6.jpg">
        <div class="hovereffect">
            <picture>
                <source srcset="https://i.pinimg.com/736x/ae/67/7a/ae677a18891ad058e1526f2b087028b6.jpg" type="image/webp">
                <source srcset="https://i.pinimg.com/736x/ae/67/7a/ae677a18891ad058e1526f2b087028b6.jpg" type="image/jpg">
                <div class="gallery"> <img src="https://i.pinimg.com/736x/ae/67/7a/ae677a18891ad058e1526f2b087028b6.jpg" class="img-responsive center-block" alt="image" style="width: 100%;  height: 345px; margin-top: 3%;"></div>
                <div class="overlay">
                  <div class="text">Work</div>
                </div>
            </picture>
           
        </div>
      </a>
    </div>
    
  </div>
  <div class="row">

    <div class="col-sm-6">
      <a class="fancybox" rel="group" href="https://images.news18.com/ibnlive/uploads/2022/01/sidharth-malhotra-16422723103x2.jpg">
        <div class="hovereffect">
            <picture>
                <source srcset="https://images.news18.com/ibnlive/uploads/2022/01/sidharth-malhotra-16422723103x2.jpg" type="image/webp" >
                <source srcset="https://images.news18.com/ibnlive/uploads/2022/01/sidharth-malhotra-16422723103x2.jpg" type="image/jpg" >
                <div class="gallery"><img src="https://images.news18.com/ibnlive/uploads/2022/01/sidharth-malhotra-16422723103x2.jpg" alt="image" style="width: 100%;  height: 70%; margin-top: 3%;"></div>
                <div class="overlay">
                  <div class="text">Work</div>
                </div>
            </picture>
            
        </div>
        </a>
    </div>
    <div class="col-sm-6">
      <a class="fancybox"  rel="group" href="https://thefader-res.cloudinary.com/images/w_1440,c_limit,f_auto,q_auto:eco/lkij753vivnontlvacrg/james-blake.jpg">
        <div class="hovereffect">
            <picture>
                <source srcset="https://thefader-res.cloudinary.com/images/w_1440,c_limit,f_auto,q_auto:eco/lkij753vivnontlvacrg/james-blake.jpg" type="image/webp" >
                <source srcset="https://thefader-res.cloudinary.com/images/w_1440,c_limit,f_auto,q_auto:eco/lkij753vivnontlvacrg/james-blake.jpg" type="image/jpg" >
                <div class="gallery"><img src="https://thefader-res.cloudinary.com/images/w_1440,c_limit,f_auto,q_auto:eco/lkij753vivnontlvacrg/james-blake.jpg" class="img-responsive center-block" alt="image" style="width: 100%; height: 70%; margin-top: 3%;"></div>
                <div class="overlay">
                  <div class="text">Work</div>
                </div>
            </picture>
            
        </div>
        </a>
    </div>
    
  </div>
</div>

</body>
<footer>
  <div id="footer">
    <center>

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="social">
              <a href="https://www.facebook.com/" targe="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="twitter" href="https://twitter.com/i/flow/login" targe="_blank"><i class="fa fa-twitter"
                  aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/accounts/login/" targe="_blank"><i class="fa fa-instagram"
                  aria-hidden="true"></i></a>

            </div>
            <div class="para">
              <p class="quicklinks"><a href="/">Home&nbsp;|&nbsp; </a>

                <a href="/about"> About </a>
                <a href="/gallery">&nbsp;|&nbsp;Gallery &nbsp;|&nbsp;</a>
                <a href="/contact">Contact &nbsp;|&nbsp; </a>
                <a href="/service">Service</a>
            </div>
            </p>
            <p>Copyright © 2022 Life, All Rights Reserved.</p>

          </div>
        </div>
      </div>
  </div>


  </center>

  </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script src="jquery.fancybox.min.js"></script>
  

</html>