<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="icon" href="icon.jpg" type="icon">
  <title>Hair Salon</title>
  <link href="owl.carousel.min.css" rel="stylesheet" />
  <link href="owl.theme.default.min.css" rel="stylesheet" />
  <link href="fonts/font-awesome.min.css" rel="stylesheet">
  <link href="homehair.css" rel="stylesheet">
  <style> .navlink{
    color: rgb(139, 139, 139);
    text-decoration: none;
    margin-right: 65px;
    font-size: 20px;
  }
  .navlinkactive{
    color: black;
    text-decoration: none;
    margin-right: 65px;
    font-size: 20px;
  }
  .navlink:hover{
    color: rgb(185, 162, 162);
  }
  .navlinkactive:hover{
    color: rgb(185, 162, 162);;
  }
.twitter {
margin-left: 15px;
margin-right: 15px;

}

footer {
background-color: rgb(223, 217, 217);
width: 100%;
margin-top: 50px;

}

footer div a,
footer p {
color: gray;
text-decoration: none;
}

.appointment {

color: brown;
border: 3px solid brown;
width: 200px;
}
.img1{
  width: 100%;
}
.appointment {

color: black;
border: 3px solid black;
width: 200px;
}
  </style>


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg  " style="background-color: rgb(218, 214, 214);">
    <div class="container-fluid">
     <div class="img" style="margin-left: 2%;"><img src="/static/servicemain.jpg" alt="icon" style="width: 40px ;" height="40px">
      </div>



      <a class="navbar-brand" style="margin-left: 3%; width:30%; font-size: 30px; color: brown;" href="#"><b>Hair salon</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" style="margin-left: 15%; " id="navbarNav">
        <center>
          <ul class="navbar-nav ">
            <li class="navitem">
              <a class="navlinkactive" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="navlink" href="/about">About</a>
            </li>
            <li class="navitem" >
              <a class="navlink" href="/gallery">Gallery</a>
            </li>
            <li class="navitem">
              <a class="navlink" href="/contact">Contact</a>
            </li>
            <li class="navitem">
              <a class="navlink" href="/service">Service</a>
            </li> 
          </ul>
        </center>
      </div>
    </div>
  </nav>
    <div class="container">
        <br>
        <h2>Crew Cut</h2>
        <img src="homehair5.webp" class="img1">
        <p>A crew cut is a type of men’s haircut where the upright hair on the top of the head is cut short. Additionally, the sides are cut or tapered exceptionally short to create a neat and tidy appearance.</p>

        
        <div class="owl-carousel owl-theme" id="serviceslider">
          <div class="item">
            <div class="service">
              <div class="img-box">
                <picture>
  
                  <a href="link51.html"> <img src="/static/link51.webp" style="border-radius: 30px;" alt="image" class="img-responsive"></a>
                </picture>
  
              </div>
              <div class="content-box text-center">
                <h3>Classic Crew Cut</h3>
                
               
              </div>
            </div>
          </div>
          <div class="item">
            <div class="service">
              <div class="img-box">
                <picture>
                  <a href="link52.html"> <img src="/static/link52.webp" style="border-radius: 30px;"alt="image" class="img-responsive"></a>
                 
                </picture>
  
              </div>
              <div class="content-box text-center">
                <h3>Short Crew Cut</h3>
               
                
              </div>
            </div>
          </div>
          <div class="item">
            <div class="service">
              <div class="img-box">
                <picture>
                  <a href="link53.html"><img src="/static/link53.jpg" style="border-radius: 30px;"alt="image" class="img-responsive"></a>
                  
                </picture>
  
              </div>
              <div class="content-box text-center">
                <h3>Long Crew Cut</h3>
                
               
                
              </div>
            </div>
  
  
          </div>
          <div class="item">
            <div class="service">
              <div class="img-box">
                <picture>
  
                  <a href="link54.html"> <img src="/static/link54.webp" style="border-radius: 30px;"alt="image" class="img-responsive"></a>
                </picture>
  
              </div>
              <div class="content-box text-center">
                <h3>Taper Fade Crew Cut</h3>
                
               
              </div>
            </div>
  
  
          </div>
        </div>
      
        <center>
          <div class="appointment" style="margin-top: 20px;"> <a href="/form"><button class="btn" style="color: black;">Book An
                appointment</button></a> </div>
        </center>
      </div>
    </body>
    <footer>
      <div id="footer">
        <center>
    
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="social">
                  <a href="https://www.facebook.com/" targe="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a class="twitter" href="https://twitter.com/i/flow/login" targe="_blank"><i class="fa fa-twitter"
                      aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/accounts/login/" targe="_blank"><i class="fa fa-instagram"
                      aria-hidden="true"></i></a>
    
                </div>
                <div class="para">
                  <p class="quicklinks"><a href="/">Home&nbsp;|&nbsp; </a>
    
                    <a href="/about"> About </a>
                    <a href="/gallery">&nbsp;|&nbsp;Gallery &nbsp;|&nbsp;</a>
                    <a href="/contact">Contact &nbsp;|&nbsp; </a>
                    <a href="/service">Service</a>
                </div>
                </p>
                <p>Copyright © 2022 Life, All Rights Reserved.</p>
    
              </div>
            </div>
          </div>
      </div>
    
    
      </center>
    
      </div>
    
    </footer>
    
  <script type="text/javascript" src="jquery.min.js"></script>
  <script src="owl.carousel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script>
    $('#serviceslider').owlCarousel({
      autoplay: true,
      autoplayTimeout: 2500,
      loop: true,
      margin: 30,
      dots: false,
      nav: true,
      navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
      responsiveClass: true,
      responsive: {
        992: {
          items: 4,
        },
        768: {
          items: 2,
        },
        0: {
          items: 1
        }
  
      }
    })
  
  </script>
  </html>